.container {
    /* height: 100vh; */
    
    
    background: #D9D9D9;
}

.top-container {
    padding-top: 1rem;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.left-container,
.right-container {
    width: calc(50% - 1rem);
    height: 100%;
}

.left-container {
    margin-right: .8rem;
    margin-left: .8rem;
    background: #D9D9D9;
    border-radius: 10px;
}

.right-container {
    margin-right: .8rem;
    
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}

.mini-container1 {
    width: calc(100% - 1rem);
    height: 6rem;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;

}

.mini-container2 {
    /* margin-top: 118px; */
    width: calc(100% - 1rem);
    /* height: 114px; */
    height: 6rem;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    
}

.blc {
    padding-top: 1.5rem;
    font-style: normal;
    font-weight:bolder;
}

.amt {
    margin-top: 1px;  
    font-style: normal;
    font-weight:bolder;
    font-size: 24px;
    line-height: 36px;
    color: #FF0000;
}

.blc2 {
    font-style: normal;
    font-weight:bolder;
    padding-top: 1.5rem;
}

.amt2 {
  
    margin-top: 1px;  
    font-style: normal;
    font-weight:bolder;
    font-size: 24px;
    line-height: 36px;
    color:#32E515;  
}
.amt3 {
    margin-top: 1px;  
    font-style: normal;
    font-weight:bolder;
    font-size: 18px;
    line-height: 36px;
    color: #FF0000;
}

.Goal {
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 60px;
color: #000000;
padding-top: 0.6rem;
}
.blc3 {
    font-style: normal;
    font-weight:bolder;
    padding-top: 0.4rem;
}
.blc4 {
    font-style: normal;
    font-weight:bolder;
    padding-top: 1rem;
}

.name-expance {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bolder;
    font-size: 30px;
}